@import 'tailwindcss';

@theme inline {
  --font-inter: var(--inter);
  --font-geist-mono: var(--geist-mono);
}

* {
  scrollbar-width: thin;
  outline: 1px solid solid red;
}

@media (pointer: fine) {
  button {
    cursor: pointer;
  }
}
